.places{
    font-size: 30px;
}
article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: inline-block;
    padding: 20px, 20px;
    text-align: justify;   
}
.places h2{
    font-size: 30px;
    text-align: center;
    line-height: 2px;
}
.center{
    width: 390px;
    padding: 20px;
    margin-right: 20px;
    position: relative;
    margin-left: 270px;
}
